<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head", {title: 'Analyse' }) %>
</head>

<body>

    <%- include('../partials/navbar', {active:'analyse'}); %>

        <h1>Analyse data</h1>

        <select id="options" class="viewselector">
            <option>List</option>
            <option>Calender</option>
            <option>Histogram</option>
        </select>


        <!-- LIST -->
        <div id="list">
            <ul id="list-entry-list" class="entry-list">
                <!-- items added in js -->
            </ul>
        </div>


        <!-- CALENDER -->
        <div class="grid-container" id="calender">
            <div class="grid-item">
                <div class="week-selector">
                    <%- include("../partials/monthselector", { id:'calender-month' }) %>
                        <input type="number" min="1900" max="2100" value="1900" id="calender-year">
                </div>
                <ul class="calender-header">
                    <li>Mo</li>
                    <li>Tu</li>
                    <li>We</li>
                    <li>Th</li>
                    <li>Fr</li>
                    <li>Sa</li>
                    <li>Su</li>
                </ul>
                <ul class="calender-body">
                    <% for(var i=0; i<40; i++) {%>
                        <li id=<%=i -%>></li>
                        <% } -%>
                </ul>
            </div>
            <div class="grid-item">
                <label id="datetextright">Select a date</label>
                <ul id="calender-entry-list" class="entry-list">
                    <!-- items added in js -->
                </ul>
            </div>
        </div>


        <!-- HISTOGRAM -->
        <div id="graph" class="histogram">
            <div class="week-selector" id="week-selector">
                <select id="graph-week">
                    <% for(var i=1; i<53; i++) {%>
                        <option>
                            <%="Week " + i%>
                            </option>
                            <% } -%>
                    </select>
                    <input type="number" min="1900" max="2100" value="2024" id="graph-year">
                </div>
            <canvas id="histogram"></canvas>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/chart.js">//histogram api</script>
        <script src="js/calender.js"></script>
        <script src="js/list.js"></script>
        <script src="js/histogram.js"></script>
        <script src="js/viewselector.js"></script>
</body>

</html>